bin/WordGame
out
result
dist
dist-*
cabal-dev
*.o
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.ghc.environment.*
dist-newstyle
.stack-work
stack.yaml.lock

.ghci
.ghcid

.idea/
*.iml

*.diff
*.patch
tags

.vscode/
.nvimrc

init/id_rsa